/* Reset body and html margins and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling if necessary */
}

/* Header with Data Science Background */
header {
    width: 100%;
    height: 100vh; /* Set to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    background-image: url('C:/Users/Kristin/Documents/GitHub/kjfocus/A_minimalistic,_abstract_background_image_suitable.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dark Overlay for Readability */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Dark overlay to improve text readability */
    z-index: -1;
}
